<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://pimg1.126.net/caipiao/wap/img/touchLogo.png?t=2">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, target-densitydpi=high-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="telephone=no" name="format-detection">

<title>【胜平负投注】_足球游戏竞猜-竞彩足球投注-网</title>
<script type="text/javascript"> window.__loadindStartTime = new Date();</script>


<link rel="stylesheet" href="../Css/Jczq/combo_539370e.css"/>
<link rel="stylesheet" href="../Css/Jczq/com.css"/>
<link rel="stylesheet" href="../Css/Jczq/jczq.css"/>
<link rel="stylesheet" href="../Css/Jczq/style.css"/>

<script src="../JS/Jczq/jquery.js"></script>


<script src="../JS/Jczq/mobileCore.js"></script>
<script src="../JS/Jczq/touch.js"></script>


<script src="../JS/Jczq/iscroll.js"></script>
<script src="../JS/Jczq/game.js"></script>
<script src="../JS/Jczq/core.js"></script>
<script src="../JS/Jczq/commonBet.js"></script>
<script src="../JS/Jczq/BetArea.js"></script>
<script src="../JS/Jczq/spf.js"></script>



<script src="../JS/GA.js" type="text/javascript"></script>
<script src="../JS/Jczq/KR_play.js" type="text/javascript"></script>
<script type="text/javascript">window.Core && Core.configInit("http://pimg1.126.net/caipiao", "", "327404", "1447232586672");</script>
</head>
<body class="page-betarea jczq" style="" id="notInWebView">
<noscript>&lt;div id="noScript"&gt;请开启浏览器的Javascript功能，或使用支持javascript的浏览器访问&lt;/div&gt;</noscript>

<article class="docBody clearfix">
<header id="header">
	<h1>竞彩足球</h1>
		<a class="goBack" href="/">游戏大厅</a>
        <span class="league-filter-ico"></span>
        <a href="./wfshuom.htm" class="question-ico"></a>
</header>
	<section class="game-selector" id="gameSelector">
		<i class="leftArrow"></i>
		<div class="gametype-wrap">
			<ul class="gametype">
						<li data-type="mixall"><a href="./">混合投注</a></li>
						<li data-type="mixall4dg"><a href="./danguan.htm">单关固定</a></li>
						<li class="active" data-type="spf"><a href="./shenpf.htm">胜平负</a></li>
						<li data-type="rqspf"><a href="./rqshenpf.htm">让球胜平负</a></li>
						<li data-type="bf"><a href="./bifen.htm">比分</a></li>
						<li data-type="zjq"><a href="./zfen.htm">总进球</a></li>
						<li data-type="bqc"><a href="./banqc.htm">半全场</a></li>
			</ul>
		</div>
		<i class="rightArrow"></i>
	</section>
    <section class="match-table">
        <div class="data-body" id="wrapper" style="overflow: hidden; height: 541px;">
            <div class="data-body-scroller" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
                <div class="content">
                    <div class="dgSelect" style="display: block;"><span class="dgCheck"><i><em class="arrow-ico"></em></i>显示单关固定</span><span class="ctip">（橙色框区域）</span><span class="chelp"></span></div></div>
            </div>
        </div>
    </section>
<div class="loading-tips">
	<div class="ld-tips loading hide">
		<p>正在加载请稍候...</p>
	</div>
	<div class="no-data hide">
		<ul>
			<li class="ball-icon"></li>
			<li class="tips">亲，今天没有足球比赛哦~</li>
			<li class="other-game"><a href="http://caipiao.163.com/t/">看看其他游戏吧</a></li>
		</ul>
	</div>
	<div class="ld-tips load-failed hide">
		<p>加载失败<br><a class="click-to-reload" href="javascript:location.reload();">点击刷新页面</a></p>
	</div>
</div>
<section class="bet-bottom confirm-bottom hide" style="position: absolute; display: block; top: 745px; left: 0px; bottom: auto;">
	<div class="bottom-box">
		<span class="bet-help"><i></i>开奖结果不含加时赛及点球结果</span>
		<span class="box-center hide">已选择 <em class="match-num">0</em> 场比赛<span class="btn-cancel"><i class="trash_icon"></i>清空</span></span>
		<span class="btn-confirm" style="width: 92.2%;">请选择比赛结果</span>
	</div>
</section>
<section class="goToBuy">
	<div class="bet-bottom buy-bottom hide3" style="position: absolute; overflow: hidden;">
		<div class="bottom-box">
			<div class="box-center">已选择 <em class="match-num">0</em> 场比赛<i class="close-icon"><em class="trans-tf"></em></i></div>
			<div class="box-method">
				<div><span class="method-option ellipsis"><i class="method-option-text">展开</i><i class="arrow-ico trans-tf"></i></span>投注&nbsp;<span class="inputBox"><i class="minus subtractDisable"></i><i class="center"><em><input type="tel" value="1" class="input" maxlength="6"></em></i><i class="add"></i></span>&nbsp;倍</div>
				<div class="methods hide">
					<div class="methods-wrap"></div>
					<span class="tip">串的场次越多，奖金越高，但中奖难度也越大哦</span>
				</div>
			</div>
			<div class="bonus-center ellipsis">预计奖金&nbsp;<i class="bonus">0.00彩豆</i></div>
			<div class="box-hm">
				<div class="hm-nav"><span style="display:none;">投注</span><span style="display:none;">提成</span><span style="display:none;">保底</span></div>
				<input class="hm-input" id="hm_my" type="tel" value="0" class="input" maxlength="6" style="display:none;">
				提成：<div class="k_tc">
					<div class="k_tco">
						<div class="k_tcbf">
						</div>
					</div>
							<span class="k_tch" id="hm_tc">0</span>
				</div>
				<input class="hm-input" id="hm_bd" type="tel" value="0" class="input" maxlength="6" style="display:none;">
			</div>
			<span class="winmoney">共 <i class="totalmoney">0.00</i> 彩豆</span><div class="chk-hm" style="display:none;">合玩</div><div data-bet-type="6" class="btn-confirm ellipsis">立即投注</div>
			<div class="bet-agree"><i class="dis-checkBox"></i>我已阅读并同意<a href="http://caipiao.163.com/t/rule.html">《投注规则》</a></div>
		</div>
	</div>
	<div class="layout" style="height: 935px; position: absolute;"></div>
</section>
</article>
<script type="text/tpl" id="methodListTpl">
	<% var currentMethod = data.currentMethod, selectMethod = data.selectMethod; %>
	<% for(var i=0,len=currentMethod.length; i<len; i++) { %>
	   <em class="method <%=selectMethod.indexOf(currentMethod[i]) > -1 ? 'active' : ''%>" data-method="<%=currentMethod[i]%>"><%=currentMethod[i].replace("1_1", "单关").replace(/_/g, "串")%><i class="right-icon arrow-ico"></i></em>
	<% } %> 
</script>
<script type="text/tpl" id="analysisTpl">
<a class="analyBoxLink" href="http://zx.caipiao.163.com/football/wap_matchDetail.html?matchId=<%=data.matchId%>&hostId=<%=data.hid%>&visitId=<%=data.gid%>&platformDesc=zhuozhi">
<ul class="analyBox">
	<%if(data.hint){%><li><h2>本场提点</h2><span class="c_red"><%=data.hint%></span></li><%}%>
	<li><h2>历史交锋</h2><span>近<%=data.hisHitCount%>次交战，<%=data.hostName%><em class="c_red">&nbsp;<%=data.historyScore.replace(',', '胜</em><em class="c_blue">&nbsp;').replace(',', '平</em><em class="c_green1">&nbsp;')%>负</em></span></li>
	<li><h2>近期战绩</h2><span>主队<%=data.hostRecent.replace(',', '胜').replace(',', '平')%>负<b>|</b>客队<%=data.visitRecent.replace(',', '胜').replace(',', '平')%>负</span></li>
	<%if(data.odds3){%>
		<li class="betRate col3"><h2>平均赔率</h2><span class="c_red"><%=data.odds3%></span><span class="c_blue"><%=data.odds1%></span><span class="c_green1"><%=data.odds0%></span></li>
	<%}%>
	<%if(data.bidCounts){%>
		<li class="betRate col3"><h2>投注比例</h2><span class="c_red"><%=data.bidCounts[0]%></span><span class="c_blue"><%=data.bidCounts[1]%></span><span class="c_green1"><%=data.bidCounts[2]%></span></li>
	<%}%>
	<li class="more"><i class="analy-icon"></i><em>详细赛事分析&nbsp;&gt;</em></li>
</ul>
</a>
</script>
<script type="text/tpl" id="matchTpl">
<% for ( var i = 0; i < this.length; i++ ) { %>
 <dd class="match-item" data-matchcode="<%=this[i].matchCode%>">
    <div class="league-nd-time">
        <span class="row game-league"><%=this[i].leagueName%></span>
        <span class="row game-num"><%=this[i].matchnumcn%></span>
        <span class="row game-time"><%=$.formatTime(this[i].endTime, "hh:mm")%>截止</span>
        <span class="showAnalysis"><i class="arrow-ico"></i></span>
    </div> 
    <div class="options-block spf-options <%if (this[i].dgStatus.spf){%>markHL-row-yellow<%}%>">
        <span class="col betbtn" data-index="0" data-gameType="spf" data-sp="<%=this[i].spData.spf[0]%>">
            <span class="row hostteam"><i class="rank">[<%=this[i].hostRankInfo||'-'%>]</i><%=this[i].hostName%></span>
            <span class="row betinfo">主胜 <%=this[i].spData.spf[0]%></span>
        </span> 
        <span class="col betbtn" data-index="1" data-gameType="spf" data-sp="<%=this[i].spData.spf[1]%>">
            <span class="row vs">VS</span>
            <span class="row betinfo">平 <%=this[i].spData.spf[1]%></span>
        </span> 
        <span class="col betbtn" data-index="2" data-gameType="spf" data-sp="<%=this[i].spData.spf[2]%>">
            <span class="row guestteam"><%=this[i].guestName%><i class="rank">[<%=this[i].visitRankInfo||'-'%>]</i></span>
            <span class="row betinfo">客胜 <%=this[i].spData.spf[2]%></span>
        </span>
    </div>
</dd>
<% } %>
</script>
<script type="text/tpl" id="matchWrapTpl">
 <dl class="match-list" data-gamedate="{gameDate}">
    <dt class="match-divider">{disDate}  {week}  <em class="date-num">{dateNum}</em>场比赛可投<i class="arrow-ico trans-tf"></i></dt>
    {dayMatchList}
 </dl>
</script>
<script type="text/tpl" id="leagueFilterDialogTpl">
<div class="filter-tab">
	<span class="all">　全选　</span>
	<span class="revert">　反选　</span>
	<span class="fiveLeague">仅五大联赛</span>
</div>
<ul class="league-list">
	<% for(var i=0,len=data.length; i<len; i++) { %>
		<%if(data[i].leagueId) {%>
		<li class="active" data-league-id="<%=data[i].leagueId%>"><%=data[i].leagueName%></li>
		<%}%>
	<% } %>
</ul>
</script>
<script type="text/javascript">
    window.Game && window.Game.config && (window.Game.config.gameEn="jczq_mix_p");
</script>
<script src="../JS/Jczq/kr_d.js"></script>

<script>window.setTimeout(function(){var l=document.getElementById("touchStrikeLayout");l&&l.parentNode.removeChild(l)},500);</script>
<script>window.Core && Core.fastInit && Core.fastInit();</script>
<script src="../JS/Jczq/ntes.js"></script>
<script>_ntes_nacc=window.top===window.self?"caipiao":"cpiframe";neteaseTracker();</script>


<div class="gmu-media-detect" id="gmu-media-detect0"></div><div id="forTap" style="color: White;opacity:0;border-radius: 60px; position: absolute; z-index: 99999; width: 60px; height: 60px;left:-999px;top:-999px;"></div></body></html>