<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="404">
          <match url="^404.html$" ignoreCase="false"/>
          <action type="Rewrite" url="404.asp" appendQueryString="false"/>
        </rule>
        <rule name="dldiy">
          <match url="^Reg/(.*)$" ignoreCase="false"/>
          <action type="Rewrite" url="User/Reg/index.asp?dldiy={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="AboutUs1">
          <match url="^AboutUs/$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/AboutUs/index.asp?id=6" appendQueryString="false"/>
        </rule>
        <rule name="AboutUs2">
          <match url="^AboutUs/(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/AboutUs/index.asp?id={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="ZhongJiang1">
          <match url="^ZhongJiang/$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/ZhongJiang/index.asp" appendQueryString="false"/>
        </rule>
        <rule name="ZhongJiang2">
          <match url="^ZhongJiang/(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/ZhongJiang/{R:1}.asp" appendQueryString="false"/>
        </rule>
        <rule name="Announce1">
          <match url="^Announce/$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/Announce/index.asp" appendQueryString="false"/>
        </rule>
        <rule name="Announce2">
          <match url="^Announce/index-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/Announce/index.asp?page={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="Announce3">
          <match url="^Announce/thread-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/Announce/View.asp?id={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="Help1">
          <match url="^help/$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/Help/index.asp" appendQueryString="false"/>
        </rule>
        <rule name="Help2">
          <match url="^help/List-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/Help/List.asp?ClassID={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="Help3">
          <match url="^help/thread-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/Help/View.asp?ID={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="Agreement">
          <match url="^help/Agreement.html$" ignoreCase="false"/>
          <action type="Rewrite" url="User/Agreement.asp" appendQueryString="false"/>
        </rule>
        <rule name="News1">
          <match url="^News/$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/News/index.asp" appendQueryString="false"/>
        </rule>
        <rule name="News2">
          <match url="^News/index-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/News/index.asp?page={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="News3">
          <match url="^News/List-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/News/List.asp?ClassID={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="News4">
          <match url="^News/List-(.*)-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/News/List.asp?ClassID={R:1}&amp;Page={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="News5">
          <match url="^News/thread-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="Plus/News/View.asp?ID={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="KaiJiang">
          <match url="^KaiJiang/(.*)-(.*)$" ignoreCase="false"/>
          <action type="Rewrite" url="KaiJiang/{R:1}.asp?Page={R:2}" appendQueryString="false"/>
        </rule>
        <rule name="Question">
          <match url="^User/Question-(.*)-(.*)-(.*)$" ignoreCase="false"/>
          <action type="Rewrite" url="User/Question.asp?action={R:1}&amp;{R:2}={R:3}" appendQueryString="false"/>
        </rule>
        <rule name="Agent1">
          <match url="^User/Agent-(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="User/Agent.asp?action={R:1}" appendQueryString="false"/>
        </rule>
        <rule name="User1">
          <match url="^User/(.*)-(.*)-(.*)$" ignoreCase="false"/>
          <action type="Rewrite" url="User/{R:1}.asp?{R:2}={R:3}" appendQueryString="false"/>
        </rule>
        <rule name="TongYong1">
          <match url="^index.html$" ignoreCase="false"/>
          <action type="Rewrite" url="index.asp" appendQueryString="false"/>
        </rule>
        <rule name="TongYong2">
          <match url="^(.*)/(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="{R:1}/{R:2}.asp" appendQueryString="false"/>
        </rule>
        <rule name="TongYong3">
          <match url="^(.*)/(.*)/(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="{R:1}/{R:2}/{R:3}.asp" appendQueryString="false"/>
        </rule>
        <rule name="TongYong4">
          <match url="^(.*)/(.*)/(.*)/(.*)\.html$" ignoreCase="false"/>
          <action type="Rewrite" url="{R:1}/{R:2}/{R:3}/{R:4}.asp" appendQueryString="false"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>